<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      <a class="grey-text text-lighten-4 center" style="font-size:16px !important;" href="#!">© 2023 Copyright Text | ALX </a>
      </div>
    </div>
  </footer>