<!-- include main-header for unauthenticated users -->
<%- include('partials/main-header.ejs') %>
    <div class="container">
        <!-- container holding title-->
        <div class="row">
            <div class="col s12">
               Dashboard works!
            </div>
        </div>

    <!-- include main-header for all users -->
<%- include('partials/footer.ejs') %>