body {
    font-family: 'Poppins';font-size: 22px;
}
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
    border: 1px solid #a1c6eb;
    box-shadow: 5px 5px #a1c6eb; 
}